/*
1rem ~= 16px
1px ~= 1/16e rem = 0.0625rem ~= 0.06rem
2px ~= 1/8e rem = 0.125rem ~= 0.13rem
*/

body {
	margin: 0;
	font-family: 'Roboto', Arial !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #d5d4d4;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
